<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

<h3>Providers</h3>


<% @providers.each do |provider| %>

  <div class="card" >
    <div class="message">
      <div class="message-name">
        <h3><%= link_to provider.name, provider  %></h3>
        <p><%= provider.service.name %></p>
      </div>
      <div class="message-body">
        <p><strong>Description</strong></p>
        <p><%= provider.phone_number %> <%= provider.email %></p>
        <p>
          <%= provider.presentation %>
        </p>
      </div>
     <%=  cl_image_tag provider.photo,  class: "image_card" %>
    </div>
  </div>
  <br>

<% end %>

<%= link_to 'New Provider', new_provider_path %>
</div>

  </div>
</div>



