<div class="top-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cdn.pixabay.com/photo/2015/03/05/04/47/workers-659885_960_720.jpg');  background-position: center center;">
  <div class= "top-banner-content" >
  <h1>Providers</h1>
 </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">




<% @providers.each do |provider| %>

  <div class="card" >

    <div class="message">

      <div class="message-name">
        <h3><%= link_to provider.name, provider  %></h3>
        <p><%= provider.service.name %></p>
      </div>

      <div class="message-body">
        <p><strong>Description</strong></p>
        <p><%= provider.phone_number %> <%= provider.email %></p>
        <p>
          <%= provider.presentation %>
        </p>
      </div>

     <%=  cl_image_tag provider.photo, height: 100, width: 100, crop: :fill,  class: "image_card" %>

    </div>
  </div>
  <br>

<% end %>

<%= link_to 'New Provider', new_provider_path %>
</div>

  </div>
</div>



