<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
    <div class="col-sm-6">

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @provider.phone_number %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @provider.presentation %>
</p>

<p>
  <strong>Range (km):</strong>
  <%= @provider.range %>
</p>

</div>
    <div class="col-sm-6">

<%= cl_image_tag @provider.photo, height: 200, width: 200, crop: :fill %>
</div>
</div>
</div>
<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Destroy', @provider, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', providers_path %>
<br><br><br>

<% "https://maps.googleapis.com/maps/api/geocode/json?address=" + "Brussels" + "&key=AIzaSyB3nFJh-lV7o_PtxifCaNTCNYhPbbAtrfU" %>

<div id="map"></div>

</div>

    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>

   <!-- Gmaps js: building the map -->
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 50.9, lng: 4.5},
          scrollwheel: false,
          zoom: 8
        });
          var infowindow = new google.maps.InfoWindow({
          content: "<%= @provider.name %>"
        });
        var marker = new google.maps.Marker({
          position: {lat: 50.9, lng: 4.5},
          map: map
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
    </script>
