
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <p><strong>Name:</strong> <%= @provider.name %></p>
        <p><strong>Address:</strong><%= @provider.address %></p>
        <p><strong>Email:</strong> <%= @provider.email %></p>
        <p><strong>Phone number:</strong><%= @provider.phone_number %></p>
        <p><strong>Presentation:</strong><%= @provider.presentation %></p>

        <p><strong>Range (km):</strong> <%= @provider.range %> </p>
        <p><strong>Service: </strong><%= @provider.service.name %></p>
        <p>
          <strong>Lat: </strong><%= @provider.latitude %> |
          <strong>Long: </strong><%= @provider.longitude %>
        </p>
    </div>
    <div class="col-sm-6">
      <%= cl_image_tag @provider.photo, height: 300, width: 300, crop: :fill %>
    </div>

  <%= link_to 'Edit', edit_provider_path(@provider) %> |
  <%= link_to 'Destroy', @provider, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', providers_path %>
 </div>
</div>
<br>

<div
  id="map"
  data-markers="<%= @markers.to_json %>"
></div>

   <!-- Gmaps js: building the map -->
    <script>
      function initMap() {
        var lat = <%= @provider.latitude %>;
        var lng = <%= @provider.longitude %>;
        var radius = <%= @provider.range * 1000 %>;

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: lat, lng: lng},
          scrollwheel: false,
          zoom: 8
        });
          var infowindow = new google.maps.InfoWindow({
          content: "<%= @provider.name %>"
        });
        var marker = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        var circle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            radius: radius
          });
        circle.bindTo('center', marker, 'position');
      }

    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
    </script>
